<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginWebServiceServiceSoapBinding" />
                <binding name="GpTemplateWebServiceServiceSoapBinding" />
                <binding name="GpSectionWebServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://121.28.95.246:9090/webservice/loginWebService/login"
                binding="basicHttpBinding" bindingConfiguration="LoginWebServiceServiceSoapBinding"
                contract="LoginServiceReference.LoginWebService" name="LoginWebServicePort" />
            <endpoint address="http://121.28.95.246:9090/webservice/gpTemplateWebService/add"
                binding="basicHttpBinding" bindingConfiguration="GpTemplateWebServiceServiceSoapBinding"
                contract="ServiceReferenceGpTemplate.GpTemplateWebService"
                name="GpTemplateWebServicePort" />
            <endpoint address="http://121.28.95.246:9090/webservice/gpSectionWebService"
                binding="basicHttpBinding" bindingConfiguration="GpSectionWebServiceServiceSoapBinding"
                contract="OpenBidService.GpSectionWebService" name="GpSectionWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>