<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginWebServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://121.28.95.246:9090/webservice/loginWebService/login"
                binding="basicHttpBinding" bindingConfiguration="LoginWebServiceServiceSoapBinding"
                contract="LoginServiceReference.LoginWebService" name="LoginWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>